<ion-content>
    <div id="login-form">
      <ion-card class="login-field">
        <ion-card-content>
          <ion-input placeholder="username" [(ngModel)]="user.username"></ion-input>
        </ion-card-content>
      </ion-card>
      <ion-card class="login-field">
        <ion-card-content>
          <ion-input placeholder="password" [(ngModel)]="user.password" type="password"></ion-input>
        </ion-card-content>
      </ion-card>
      <ion-button (click)="loginUser()">Login</ion-button>
      <ion-button (click)="registerUser()">Sign up</ion-button>
    </div>
  </ion-content>