<ion-header>
  <ion-toolbar>
    <ion-title>Your Meetingrooms</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" color="medium" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-list>
          <ion-item *ngFor="let room of rooms$ | async" lines="none" (click)="openDetailsWithState(room)">
            <div *ngIf="room.eier == currentUser">
              <app-meeting-room-item [meetingRoomData]="room"></app-meeting-room-item>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>